body {
      background-color: black;
      color: white;
      display: flex;
      justify-content: center; /* centers horizontally */
      align-items: center; /* centers vertically */
      height: 100vh; /* full screen height */
      margin: 0;
    }

    .header {
      font-weight: bold;
      font-size: 30px;
    }
    .icon {
      height: 70px;
    }
    .icon-button {
      background-color: black;
      border-color: white;
      border-style: solid;
      border-radius: 50px;
      border-width: 3px;
      height: 100px;
      width: 100px;
      cursor: pointer;
      margin: 7px;
    }
    .result {
      font-weight: bold;
      font-size: 25px;
    }
    .score {
      padding-left: 12px;
      padding-right: 12px;
      padding-bottom: 6px;
      padding-top: 6px;
      cursor: pointer;
      font-weight: bold;
    }
    .container {
      border: 2px solid white;
      border-radius: 10px;
      height: 500px;
      width: 500px;
      justify-content: center;
      text-align: center;
    }